
@{
    ViewBag.Title = "User Info";
}

<h2>User Information</h2>

<a class="btn btn-success" style="margin-bottom: 10px;" onclick="PopupForm('@Url.Action("EditOrAdd","Person")')"><i class="fa fa-plus"></i> Add New</a>
<table id="PersonTable" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Name</th>

            <th>Email Id</th>
            <th>Mobile</th>
            <th>Age</th>
            <th>Date Of Birth</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
</table>
<link rel="stylesheet" href="~/Content/font-awesome.min.css" />
@section scripts{
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script>
        var Popup, DataTable;

        $(document).ready(function () {

            DataTable = $("#PersonTable").DataTable({
                "ajax": {
                    "url": "/Person/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "pageLength": 5,
                "iDisplayLength ": 5,
                "columns": [
                        {
                            'data': function (data) {
                                return data.FirstName + " " + data.LastName;
                            }
                        },
                            //{ 'data': 'LastName' },
                        { 'data': 'Email' },
                        { 'data': 'Mobile' },
                        { 'data': 'Age' },
                        {
                            'data': 'DOB', 'render': function (data) {
                                var date = new Date(parseInt(data.substr(6)));

                                locale = "en-us";
                                var month = date.toLocaleDateString(locale, { month: "long" });
                                return dateSuffix(date.getDate()) + " " + month + " " + date.getFullYear();
                            }
                        },
                        { 'data': 'Location' },
                        {
                            'data': "id",
                            "render": function (data) {
                                return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("EditOrAdd", "Person")/" + data + "')><i class='fa fa-pencil'></i>Edit</a>"
                            }, "ordering": false
                        }
                ],
                "language": {
                    "emptyTable": "No data found, please click on <b>Add New Button<b>"
                }
            });

        });


        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    modal: true,
                    resizable: false,
                    title: 'User Details',
                    height: 800,
                    width: 500,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {

                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Popup.dialog('close');
                            DataTable.ajax.reload();
                            $.notify(response.message, {
                                globalPosition: "top center",
                                className: "success"
                            });
                        }
                    }
                });
            }
            return false;
        }

        function dateSuffix(day) {
            var j = day % 10, k = day % 100;
            if (j == 1 && k != 11) {
                return day + "st";
            }
            if (j == 2 && k != 12) {
                return day + "nd";
            }
            if (j == 3 && k != 13) {
                return day + "rd";
            }
            return day + "th";
        }
    </script>
}

